@charset "utf-8";
/*
* Copyright https://github.com/larryqin/larrycms
*/
/* 头部 */
.header {
    height: 65px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
    color: #fff;
}

.logo {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo img {
    width: 150px;
    height: 35px;
}

.header .layui-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}

.header .layui-nav .layui-nav-item {
    margin: 0 20px;
    line-height: 66px;
}

.body {
    display: block;
}

.layui-layout-admin .header-demo {
    border-bottom-color: #1AA094;
}

.header-demo .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 10px;
    top: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.header-demo .layui-nav {
    top: 0;
}

.header-demo .layui-nav .layui-nav-item {
    margin: 0 10px;
    line-height: 70px;
}

.header-demo .layui-nav .layui-nav-item a {
    color: #999;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.header-demo .layui-nav .layui-nav-item:hover {
    border-bottom-color: #000;
}

.header-demo .layui-nav .layui-this {
    background-color: #000; /* #5FB878 */
}

.header-demo .layui-nav .layui-nav-item a:hover,
.header-demo .layui-nav .layui-this a {
    color: #ffffff;
}

.header-demo .layui-nav .layui-nav-item span.layui-nav-more {
    top: 32px;
}

.header-demo .layui-nav .layui-nav-item span.layui-nav-mored {
    top: 26px;
}

.header-demo .layui-nav .layui-this:after,
.header-demo .layui-nav-bar {
    background-color: #393D49;
}

.header-demo .layui-nav .layui-this a {
    padding: 0 15px;
}

.header {
    background: #393D49;
}

.admin-logo-box {
    width: 185px;
    height: 70px;
    position: relative;
}

.larry-side-menu {
    position: absolute;
    cursor: pointer;
    z-index: 19940201;
    left: 200px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1AA094;
    line-height: 30px;
    top: 23%;
}

.larry-side-menu:hover {
    background-color: #5FB878;
}

/* 头部左侧 */
.layui-larry-menu {
    width: auto;
    height: 70px;
    position: absolute;
    left: 245px;
    top: 0px;
}

.layui-larry-menu ul.layui-nav {
    height: 70px;
    position: static;
}

.layui-larry-menu ul.layui-nav li.layui-nav-item {
    margin: 0px;
}

.layui-larry-menu ul.layui-nav li.layui-nav-item a {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.layui-larry-menu ul.layui-nav li.layui-nav-item a i {
    padding-right: 5px;
    line-height: 70px;
}

.layui-larry-menu ul.layui-nav .layui-this {
    background: #2B2E37;

}

.layui-larry-menu ul.layui-nav .layui-this::after {
    /* background: #2B2E37; */
    background: #1AA094;
}

/* 头部右侧 */
.header ul.larry-header-item {
    height: 70px;
}

.header ul.larry-header-item li.layui-nav-item {
    margin-left: 0px;
    margin-right: 0px;
}

.header ul.larry-header-item .userimg {
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
    margin-top: -6px;
}

.header ul.larry-header-item .layui-this {
    background: #393D49;
    border-bottom: none;
}

.header ul.larry-header-item .layui-this::after {
    background: transparent;
}

/* ======================= */
/* 左侧区域 */
.layui-side-bg {
    background: #393D49;
}

.layui-larry-side {
    padding: 0px;
}

.layui-larry-side .user-photo {
    width: 200px;
    height: 120px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.layui-larry-side .user-photo a.img {
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.layui-larry-side .user-photo a.img img {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
}

.layui-larry-side .user-photo p {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
}

.layui-nav-tree li.layui-nav-item a {
    padding-right: 10px;
}

.layui-nav-tree li.layui-nav-item a i {
    padding-right: 3px;
}

.layui-nav-tree li.layui-nav-item .layui-nav-child dd a {
    padding-left: 40px !important;
    padding-right: 0px;
}

.layui-nav-tree li.layui-nav-item .layui-nav-child dd a i {
    padding-right: 3px;
}

/* 右侧主体区域 */
.layui-body {
    bottom: 0;
    border-left: solid 2px #1AA094;
}

.layui-tab-content {
    min-height: 150px;
    /* padding: 5px 0 0 0; */
}

/* tab选项卡 */
.layui-body {
    padding-left: 0px;
}

.layui-layout-admin .layui-body {
    top: 58px;
}

.larry-tab-menu {
    width: 200px;
    height: 40px;
    display: none;
}

.larry-tab-box .layui-tab-title li em {
    padding-left: 5px;
    font-style: normal;
}

#admin-home i.layui-icon {
    display: none;
}

.larry-tab-box {
    box-shadow: none;
}

/* layui-tab-title start */
.layui-tab-title .larry-tab-menu {
    display: inline-block;
    float: right;
    border: 1px solid red;
    position: relative;
    font-size: 14px;
}

.larry-test {

    height: 40px;
    color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #ffffff;
}

.refresh_iframe {
    display: none;
    position: absolute;
    top: 10px;
    right: 1px;
    height: 41px;
    background: #33AB9F;
    color: #FFFFFF;
}

/* layui-tab-title end */
.layui-tab-content {
    padding: 0px;
    margin: 0px;
}

.layui-tab-item {
    padding: 10px 0 0 10px;
    margin: 0px;

}

.layui-tab-content .layui-tab-item iframe {
    width: 100%;
    border: 0;
    height: 100%;
}

.larry-tab-box > .layui-tab-title {
    border-bottom: 1px solid #1AA094;
}

.larry-tab-box .layui-tab-title cite {
    font-style: normal;
    padding-left: 5px;
}

.larry-tab-box > .layui-tab-title .layui-this {
    color: white;
    background-color: #1AA094;
}

.larry-tab-box > .layui-tab-title .layui-this:after {
    border-bottom: 0;
}

#time {
    width: 100%;
    color: #fff;
    font-size: 60px;
    margin-bottom: 80px;
    display: inline-block;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

::selection {
    background: #FF6C60;
    color: #fff;
}

.form-control {
    height: 30px;
}

@media (min-width: 1200px) {
    .col-lg-12 {
        width: 100%;
        float: left;
    }
}

body .layui-layout-admin .layui-larry-foot {
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #eee;
    color: #666;
    font-weight: 300;
    border-left: 2px solid #1AA094;
    z-index: 998;
}

body .layui-layout-admin .layui-larry-foot a {
    padding: 0 5px;

}

.layui-form-item .layui-input-inline {
    float: left;
    width: 350px;
    margin-right: 10px;
}

.laber-account {
    padding: 3px 6px;
    margin-top: 8px;
    width: auto;
    border-radius: 5px;
    text-align: left;
    background-color: #009688;
    color: #fff;
}

/*
 ms
*/

.ms-admin-logo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ms-admin-logo img {
    padding: 14px 0;
    width: 50px;
}

.ms-admin-logo > div {
    display: flex;
    align-items: center;
}

.ms-admin-logo > div span {
    margin-top: -6px;
    position: absolute;
    margin-left: 10px;
    font-size: 12px;

}

.ms-admin-logo .iconfont {
    color: #fff;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.ms-admin-header-right {
    margin-left: auto;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    line-height: 1;
}

.ms-admin-header-right .ms-admin-people-head {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0099ff;
    color: #fff;
}

.ms-admin-header-menu-shrink {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    border-right: 1px solid rgba(238, 238, 238, 1);
    cursor: pointer;
}

.ms-admin-header-menu-shrink:hover {
    background: rgba(250, 250, 250, 0.2);
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 180px;
    height: 100vh;
}

.el-menu--collapse {
    height: 100vh;
}

.ms-admin-menu-aside {
    width: auto !important;
    height: 100%;
    position: relative;
    overflow: visible;
}

.ms-admin-menu-aside .ms-admin-menu .el-menu--inline .is-active {
    border-left: 2px solid #0099ff;
}

.ms-admin-menu-aside .ms-menu-expand i {
    font-weight: bolder;
    font-size: 14px;
    color: #333;
    position: absolute;
    transform: rotate(90deg);
    right: 40%;
}

.ms-admin-menu-aside .ms-menu-expand::before {
    border-color: transparent transparent #eee;
    border-style: none solid solid;
    border-width: 0 30px 22px;
    content: "";
    display: block;
    height: 0;
    left: -10px;
    width: 30px;
}

.ms-admin-menu-aside .el-submenu__title,
.ms-admin-menu-aside .el-menu-item {
    color: rgba(255, 255, 255, 1);
    height: 40px;
    line-height: 40px;
}

.ms-admin-menu-aside .el-submenu__title i {
    color: inherit;
}

.ms-admin-menu-aside .el-submenu__title .iconfont {
    font-size: 19px !important;
}

.ms-admin-menu-aside .el-submenu.is-active .el-submenu__title {
    color: rgba(255, 255, 255, 1) !important;
}

.ms-admin-header {
    display: flex;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    height: 50px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.ms-admin-header .ms-admin-header-menu {
    border-bottom: none;
    position: relative;
}

.ms-admin-header .ms-admin-header-menu > .ms-admin-menu-item > * {
    height: 50px !important;
    line-height: 50px !important;
    border-bottom: none !important;
    font-size: 1em;
}

.ms-admin-header .ms-admin-header-menu .ms-admin-shortcut-menu > li {
    margin: 0;
    padding: 0 20px;
    text-align: left;
    display: -webkit-inline-box;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.ms-admin-header .ms-admin-header-menu .ms-admin-shortcut-menu > li:hover {
    cursor: pointer;
    color: #0099ff;
}

.ms-admin-header-menu .el-submenu__title {
    height: 50px !important;
    line-height: 50px !important;
    display: flex;
    align-items: center;

}

.ms-admin-header-menu .el-submenu__title:hover {
    background-color: #F2F6FC !important;
    color: #409EFF !important;
}

.ms-admin-header-menu .el-submenu__title:hover i {
    color: #409EFF !important;
}

.ms-admin-header-menu .el-submenu__icon-arrow {
    margin-top: 4px !important;
}

.ms-admin-header-menu-item .el-menu-item:hover {
    background-color: #F2F6FC !important;
    color: #409EFF !important;
}

.ms-admin-header-menu-item .el-menu-item:hover i {
    color: #409EFF !important;
}

.ms-admin-header-menu-all {
    width: 560px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 40px;
}

.ms-admin-header-menu-all .iconfont {
    font-size: 17px;
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item .el-icon-star-on {
    color: #ccc;
    font-size: 17px;
    margin-left: -1px;
    margin-top: 1px;
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item .el-icon-star-on:hover {
    color: rgba(64, 158, 255, 1);
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item .el-icon-star-off {
    color: #ccc;
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item .el-icon-star-off:hover {
    color: rgba(64, 158, 255, 1);
}

.ms-admin-header-menu-all .ms-admin-header-menu-all-item:hover {
    color: rgba(64, 158, 255, 1);
}

.ms-admin-menu-aside-submenu .el-menu-item {
    line-height: 40px;
    height: 40px;
}

.el-submenu__title * {
    vertical-align: top;
}

.ms-admin-login-theme .el-dropdown-menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.el-tabs__nav .el-tabs__item:nth-child(1) span {
    display: none;
}

.el-tabs__item.is-active {
    background-color: rgba(255, 255, 255, 1);
}

.el-menu {
    border-right: 0px;
}

.ms-admin-logo .class-1 {
    color: white;
    padding-top: 8px;
    color: #FFFFFF;
    word-wrap: break-word;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    font-style: italic;
}

.ms-admin-logo .class-2 {
    font-size: 12px;
    font-weight: normal;
}

.top-operate-select .el-menu--popup {
    width: 162px;
    min-width: 162px;
}

.ms-admin-container {
    height: auto;
}

.ms-admin-container > .ms-admin-main {
    padding: 0;
    background-color: #fff;
    z-index: 0;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__content {
    height: 100%;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__content .el-tab-pane {
    height: 100%;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__header {
    background: #fafafa;
    margin-bottom: 0;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__header .el-tabs__nav-scroll .el-tabs__nav {
    border-left: none;
    border-radius: 0;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .ms-admin-refresh {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    border-left: 1px solid #e6e6e6;
    cursor: pointer;
    position: relative;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .ms-admin-refresh::before {
    position: absolute;
    left: 34%;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__nav-next,
.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__nav-prev {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__nav-next {
    border-left: 1px solid #e6e6e6;
}

.ms-admin-container > .ms-admin-main .ms-admin-tabs .el-tabs__nav-prev {
    border-right: 1px solid #e6e6e6;
}

.ms-admin-container > .ms-admin-main iframe {
    width: 100%;
    height: 100%;
    border: none !important;
}
